/* Neutral colors */
$white: #fff;
$black: #000;

/* Brand colors ˆ*/
$orange: #fe320a;

/* Support colors */
$gray-100: #191919;
$gray-80: rgba($gray-100, 0.8);
$gray-60: rgba($gray-100, 0.6);
$gray-10: rgba($gray-100, 0.1);
