/* Neutral colors */
$white: #fff;
$black: #000;

/* Brand colors ˆ*/
$orange: #fe320a;
$orange-70: rgba($orange, 0.7);

/* Support colors */
$gray-100: #191919;
$gray-80: #909090;
$gray-60: #6c6c6c;
$gray-40: #9d9d9d;
$gray-20: #cdcdcd;
$gray-10: #dedede;
