$base: 4px;
$navigation-height: 60px;
$max-width: 1300px;

@mixin margin($side, $mult) {
  margin-#{$side}: $mult * $base;
}

@mixin padding($side, $mult) {
  padding-#{$side}: $mult * $base;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
