$font-inter: "Inter", Helvetica, Arial, sans-serif;

%inter {
  font-family: $font-inter;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

%bold {
  font-weight: 700;
}

%extrabold {
  font-weight: 800;
}

%h1 {
  @extend %inter;
  @extend %extrabold;

  font-size: 2.5rem;
  line-height: 1.25;

  @include breakpoint(md) {
    font-size: 3.125rem;
  }
}

%h2 {
  @extend %inter;
  @extend %medium;

  font-size: 2.5rem;
  line-height: 1.4;

  @include breakpoint(md) {
    font-size: 2.25rem;
  }
}

%h3 {
  @extend %inter;
  @extend %medium;

  font-size: 2rem;
  line-height: 1.4;
}

%h4 {
  @extend %inter;
  @extend %medium;

  font-size: 1.375rem;
  line-height: 1.4;
}

%body-text1 {
  @extend %inter;
  @extend %regular;

  font-size: 1rem;
  line-height: 1.5rem;
}

%body-text2 {
  @extend %inter;
  @extend %regular;

  font-size: 0.875rem;
  line-height: 1.5rem;
}

%subtitle1 {
  @extend %inter;
  @extend %bold;

  font-size: 0.85rem;
  line-height: 1.5rem;
}

@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
}
